#clock {
    -fx-font-size: 14;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: white;
    -fx-stroke-width: 1;
}

#calendarDay {
	-fx-background-color: #8BDBF9
}


.jfx-hamburger StackPane{
	 -fx-background-color: #FFFFFF;
}

#dateLabel {
	-fx-font-size: 16;
	-fx-text-fill:   #1512AD;
	-fx-font-family: "SansSerif";
	-fx-font-weight: bold;
	
} 

#hBox {
	-fx-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

#weekdayLabel {
	-fx-background-color: #24AEFE;
	-fx-font-size: 17;
	-fx-text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	
	
}

#cursor {   
	-fx-cursor: hand;
}

#chooseColorBtn {
	-jfx-button-type: RAISED;
	-fx-background-color: #0356fc;
	-fx-text-fill: #FFFFFF;
}



