#clock {
    -fx-font-size: 14;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: white;
    -fx-stroke-width: 1;
}

#calendarDay {
	-fx-background-color: #8BDBF9
}


.jfx-hamburger StackPane{
	 -fx-background-color: #FFFFFF;
}

#dateLabel {
	-fx-font-size: 16;
	-fx-text-fill:   #1512AD;
	-fx-font-family: "SansSerif";
	-fx-font-weight: bold;
	
} 